@using TestMvc.Models.Data
@model Contact

<!doctype html>
<html lang="fr">
<head>
    <title></title>
</head>
<body>
    <h1> Détails du contact @Model.Id :</h1>

    <div>
        <label> Id : </label>
        <span> @Model.Id </span>
    </div>
    <div>
        <label> LastName : </label>
        <span> @Model.LastName </span>
    </div>
    <div>
        <label> FirstName : </label>
        <span> @Model.FirstName </span>
    </div>
    <div>
        <label> Email : </label>
        <span> @Model.Email </span>
    </div>
    <div>
        <label> CategoryId : </label>
        <span> @Model.CategoryId </span>
    </div>
    <a href="~/contact"> Retour à la liste des contacts</a>
</body>
</html>
