@{
    Layout = "_Layout";
    ViewBag.Title = "Contact Details";
}
@model Contact


<h1> Contact @Model.Id details </h1>

<div class="row">
    <div class="col-3"> Id </div>
    <div class="col-6"> @Model.Id </div>
</div>
<div class="row">
    <div class="col-3"> LastName </div>
    <div class="col-6"> @Model.LastName </div>
</div>
<div class="row">
    <div class="col-3"> FirstName </div>
    <div class="col-6"> @Model.FirstName </div>
</div>
<div class="row">
    <div class="col-3"> Email </div>
    <div class="col-6"> @Model.Email </div>
</div>
<div class="row">
    <div class="col-3"> CategoryId </div>
    <div class="col-6"> @Model.CategoryId </div>
</div>